body{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 300%;
}

.title{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 200%;
}

#button{
    font-size: 20px;
}